@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#111;
color:#fff;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

section{
padding:120px 8%;
}

img{
max-width:100%;
display:block;
}

:root{

--preto:#111111;
--preto2:#1b1b1b;
--dourado:#C9A227;
--branco:#ffffff;
--cinza:#bdbdbd;

}
